{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">

    {% if view.object.pk %}
    <h2>Editar Veículo</h2>
    {% else %}
    <h2>Novo Veículo</h2>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        {{ form|crispy }}

        {% if not view.object.pk %}
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        {% else %}
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        {% endif %}
        <a href="{% url 'lista_veiculos' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
