{% extends 'base.html' %}


{% block content %}


<div class="container mt-4" style="background-color: #d1ecf1;">
    <h2>Veículos</h2>
    <a href="{% url 'criar_veiculo' %}" class="btn btn-success mb-2">Novo Veículo</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Modelo</th>
                <th>Cor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

            {% for v in veiculos %}

            <tr>
                <td>{{ v.placa }}</td>
                <td>{{ v.modelo }}</td>
                <td>{{ v.cor }}</td>

                <td>
                    <a href="{% url 'editar_veiculo' v.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'deletar_veiculo' v.pk %}" class="btn btn-danger btn-sm">Deletar</a>
                </td>

            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}
