{% extends 'base.html' %}




{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="row" >
    {% for v in vagas_status %}
        <div class="col-1 text-center p-2"
             style="background: {% if v.status == 'livre' %}#28a745{% else %}#dc3545{% endif %};
                    color: white; margin: 4px; border-radius: 4px;">
            
            <strong>Vaga {{ v.numero }}</strong><br>

            {% if v.veiculo %}
                

                {{ v.veiculo.modelo }}<br>
                {{ v.veiculo.placa }}
            {% else %}
                Livre
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}
