{% extends 'base.html' %}
{% block title %}Excluir Vaga{% endblock %}

{% block content %}
<h1 class="mb-4 text-danger">Confirmar Exclusão</h1>

<p>Tem certeza que deseja excluir a vaga <strong>{{ vaga.numero }}</strong>?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash"></i> Confirmar Exclusão
    </button>
    <a href="{% url 'vaga:lista-vagas' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
