{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Editar Vaga{% endblock %}

{% block content %}
<h1 class="mb-4">Editar Vaga {{ vaga.numero }}</h1>

<form method="post">
    {% csrf_token %}
<!--    <div class="mb-3">-->
<!--    <label class="form-label">Número da Vaga</label>-->
<!--    <input type="text" class="form-control" value="{{ vaga.numero }}" readonly>-->
<!--</div>-->
    {{ form|crispy }}

    <button type="submit" class="btn btn-primary">
        <i class="bi bi-save"></i> Atualizar
    </button>
    <a href="{% url 'vaga:lista-vagas' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
