{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Criar Estada{% endblock %}

{% block content %}
<h1 class="mb-4">Criar Estada</h1>

<form method="post" novalidate>
    {% csrf_token %}

    {# Exibe erros que não são ligados a campos específicos #}
    {% if form.non_field_errors %}
    <div class="alert alert-danger mb-3">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    {# Renderiza o formulário usando o crispy #}
    {{ form|crispy }}

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{% url 'estada:lista-estadas' %}" class="btn btn-secondary me-3">Cancelar</a>
</form>

{% endblock %}
