{% extends 'base.html' %}
{% block title %}Histórico de Pagamentos{% endblock %}

{% block content %}
<h1>Histórico de Pagamentos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Veículo</th>
      <th>Vaga</th>
      <th>Funcionário</th>
      <th>Data do Pagamento</th>
      <th>Tempo Total</th>
      <th>Valor Pago (R$)</th>
      <th>Modalidade</th>
    </tr>
  </thead>
  <tbody>
    {% for pagamento in pagamentos %}
    <tr>
      <td>{{ pagamento.veiculo }}</td>
      <td>{{ pagamento.vaga }}</td>
      <td>{{ pagamento.funcionario }}</td>
      <td>{{ pagamento.data_pagamento|date:"d/m/Y H:i" }}</td>
      <td>{{ pagamento.tempo_total }}</td>
      <td>{{ pagamento.valor_pago }}</td>
      <td>{{ pagamento.modalidade_pagamento }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="7">Nenhum pagamento registrado.</td></tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'estada:exportar-pagamentos' %}" class="btn btn-outline-primary mb-3" download>
  📄 Baixar Relatório TXT
</a>

<a href="{% url 'estada:exportar-pagamentos-pdf' %}" class="btn btn-outline-danger mb-3" download>
    <i class="bi bi-file-earmark-pdf-fill"></i> Baixar Relatório PDF
</a>

{% endblock %}
