{% extends "base.html" %}

{% block title %}
  {% if object %}Editar Cliente{% else %}Novo Cliente{% endif %}
{% endblock %}

{% block content %}
<h1 class="mb-4">{% if object %}Editar Cliente{% else %}Novo Cliente{% endif %}</h1>

<form method="post" novalidate>
  {% csrf_token %}
  {{ form.non_field_errors }}

  {% for field in form %}
      <div class="mb-3" id="field-{{ field.name }}">
          {{ field.label_tag }}
          {{ field }}
          {{ field.errors }}
      </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Salvar</button>
  <a href="{% url 'cliente_list' %}" class="btn btn-secondary ms-2">Cancelar</a>
</form>


<script>
function toggleCpfCnpj() {
    const tipo = document.getElementById('id_tipo').value;

    // CPF
    document.getElementById('field-cpf').style.display = tipo === 'F' ? 'block' : 'none';
    
    // CNPJ
    document.getElementById('field-cnpj').style.display = tipo === 'J' ? 'block' : 'none';
    
    const dataLabel = document.querySelector('#field-data_nascimento label');
    if (tipo === 'F') {
        document.getElementById('field-data_nascimento').style.display = 'block';
        dataLabel.textContent = 'Data de Nascimento';
    } else if (tipo === 'J') {
        document.getElementById('field-data_nascimento').style.display = 'block';
        dataLabel.textContent = 'Data de Criação';
    } else {
        document.getElementById('field-data_nascimento').style.display = 'none';
    }
}

document.addEventListener('DOMContentLoaded', function () {
    toggleCpfCnpj();
    document.getElementById('id_tipo').addEventListener('change', toggleCpfCnpj);
});
</script>

{% endblock %}
